@{
  Layout = "_Layout";
}

<h1>Order List Details</h1>

<div class = "card">
  <div class = "card-body">
    <h2 class ="card-title">Vendor: @Model["vendor"].Name</h2>
      <ol class ="card-text">
        <h3>Order Title: @Model["order"].Title</h3>
        <h3>Order Description: @Model["order"].Description</h3>
        <h3>Order Price: @Model["order"].Price</h3>
        <h3>Order Date: @Model["order"].Date</h3>
      </ol>
    </div>
</div>

@* <form action="/orders/delete" method = "post">
  <button type="submit" name="button">Clear this order</button>
</form> *@
<a href='/vendors/@Model["vendor"].Id/orders/new'>Add another order for this vendor</a>

<a href='/vendors'>Back to Vendors List</a>
<a href='/'>Back to Home</a>